table {
    width: 98%;
    height: 2rem;
    padding: 8px;
}


.btncontainer {
    display: flex;
    justify-content: center
    
}

#btn {
    width: 8rem;
    height: 2rem;

    letter-spacing: 3px;
    background-color: blueviolet;
    color: white;
    border: white;
    border-radius: 5px;
    padding: 0rem 2rem;
}


#btns {
    width: 8rem;
    height: 2rem;

    background: red;
    letter-spacing: 3px;
    color: white;
    border: white;
    border-radius: 5px;
    padding: 0rem 2rem;
}
