table {
    width: 95%;
    height: 2rem; 
    border: 2px solid black;
    padding: 8px;
}

#btn {
    width: 12rem;
    height: 2.5rem;

    letter-spacing: 3px;
    background-color: blueviolet;
    color: white;
    border: white;
    border-radius: 5px;
}
